header {
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100px;
    background-color: darkgrey;
}

a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: blueviolet;
}

a:visited {
    color: blueviolet;
}
a:hover, a:focus {
    color: violet;
}

h1 {
    text-align: center;
}