body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/YoungSerif-Regular.woff2') format('woff2'),
    url('./assets/fonts/YoungSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fenix';
  src: url('./assets/fonts/Fenix-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --first-color: #F7F7F7;
  --list-item-bg-color: #C9C9C9;
  --text-bg-color: #D8D8D8;
  --list-item-bg-hover-color: #E9E9E9;
  --text-color: #1a1a1a;
  --header-with-opacity-color: rgb(191, 191, 191, 0.7);
  --text-link-color: #484747;
  --text-hover-link-color: #6e6e6e;
  --link-hover-line-color: #ff4500;

}

.outlet {
  padding-top: 140px;
  height: 100vh;
  font-family: 'YoungSerif';
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.7;
  text-align: justify;
  color: var(--text-color);
  background-image: url('./assets/images/white-painted-wall-texture-background.jpg');
  /* background-color: var(--first-color); */
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position:absolute;
  top: 2%;
  left: 15%;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fenix';
  background-color: var(--header-with-opacity-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15% 15% 70% 70%;

}

.header-link:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  position: relative;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  color: var(--text-link-color);
}

.header-link:hover {
  color: var(--text-hover-link-color)
}

.header-link::before {
  display: block;
  content: '';
  position: absolute;
  top: 100% ;
  left: 0;
  width: 0%;
  height: 10%;
  background-color: var(--link-hover-line-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: width 250ms ease-in-out
}

.active {
  color: var(--text-hover-link-color)
}

.active::before {
  width: 100%;
  }

.header-link:hover::before {
  width: 100%;
}

/* .active-link {
  color: chartreuse;
} */

footer {
  position:absolute;
  bottom: 2%;
  left: 30%;
  width: 40%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fenix';
  font-size: 18px;
  color: var(--text-link-color);
  background-color: var(--header-with-opacity-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 70% 70% 15% 15%;
}

h1 {
  margin-top: 0;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content-container {
  position: relative;
  z-index: 0;
  width: 65%;
  margin: 0 auto;
}

.content-container::after {
  display: block;
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 110%;
  opacity: 0.4;
  z-index: -1;
  background-color: var(--text-bg-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15% 40% 15% 40%;
}

/* .content-bg {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
  height: 110%;
  opacity: 0.4;
  z-index: -1;
  background-color: var(--text-bg-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15% 40% 15% 40%;
} */

.text {
  width: 800px;
  margin-right: auto;
  margin-left: auto;

}

.blog-container {
  margin-left: 0;
}

.blog-container > .content-bg {
  left: 15%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25%;
  list-style: none;
  
}

.list-link {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: var(--text-color);
  background-color: var(--list-item-bg-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15% 40% 15% 40%;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
  position: relative;
  overflow-x: hidden;
}

.list-link:hover {
  transform: scale(1.1);
}

.list-link:hover .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 1s linear;
}

@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}

.links-block {
  position: absolute;
  top: 60%;
  right: 3%;
  margin-left: 71%;
}

.links-block > a {
  display: block;
  padding: 8px;
  margin-bottom: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 2;
  cursor: pointer;
  color: var(--text-link-color);
  background-color: var(--list-item-bg-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15% 40% 15% 40%;
  transform: scale(1);
  transition: all 250ms ease-in-out;
}

.links-block > a:hover {
  background-color: var(--list-item-bg-hover-color);
  transform: scale(1.1);
  color: var(--text-hover-link-color);
}

.link-edit {
  top: 90%;
  right: 0;
  margin-left: 75%;
}

.posts-container {
  width: 65%;
  /* margin-right: auto; */
  margin-left: 0;
  padding-top: 30px;
}

.posts-list > a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.posts-list > a:hover {
  color: var(--text-hover-link-color);
}

.posts-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.form {
  display: block;
}

.form > div {
  margin-bottom: 20px;
  margin-left: 20px;
}

input {
  margin: 0 20px;
}

.button {
  margin-left: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.buttons-block {
  margin-bottom: 20px;
  padding: 20px;
}

.search-result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result>div:not(:last-child) {
  margin-right: 50px;
}

.about {
  margin-top: 10%;
  text-align: center;
  font-size: 36px;
}



/* 
.buttons-block {
  padding: 10px;
}

.buttons-block > button {
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  color: blueviolet;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms, background-color 250ms ;
}

.buttons-block > button:hover {
  transform: scale(1.1);
  background-color: darkgrey;

}

.buttons-block > button:not(:last-child) {
  margin-right: 30px;
}

.buttons-block > button::before {
  display: block;
  content: '';
  position: absolute;
  top: 110% ;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: magenta;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;

}

.buttons-block > button:hover::before {
  transform: scaleX(1.1);
  opacity: 1;
} */

/* label {
  padding: 10px;
}

input {
  margin: 0 10px;
}

.post-article {
  width: 350px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: lightcoral;
  border: 3px solid red;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-article > p:not(:last-child) {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: blueviolet;
  
} */